.basic-header{
	position: fixed;
	/*padding: 0px 10px;*/
	width: 100%;
	height: 66px;
	line-height: 66px;
	background: #001529f5;
	z-index: 1;
	.header-nav{
		display: flex;
		cursor: pointer;
		padding-left: 0px;
		li{
			list-style-type: none;
			padding: 0px 10px;
			text-align: center;
			color: #FFF;
    		font-size: 18px;
		}
	}
	.header-login{
		margin-left: auto;
		/*vertical-align: middle;
		cursor: pointer;*/
		.logo{
			display: inline-block;
			overflow: hidden;
			width: 24px;
		    height: 24px;
		    border-radius: 24px;
		    margin-right: 6px;
			background: url('../assets/images/lee3.jpeg') 50% 0% no-repeat;
			vertical-align: middle;
		}
		.drop{
			border-bottom: 0 solid transparent;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top-style: solid;
			border-top-width: 4px;
			content: "";
			display: inline-block;
			height: 0;
			vertical-align: middle;
			width: 0;
		}
	}
	/*position: fixed;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	padding: 0px 10px;
	width: 100%;
	height: 66px;
	line-height: 66px;
	background: #FFFFFF;
	box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.08);
	z-index: 1;
	.right{
		vertical-align: middle;
		cursor: pointer;
		.logo{
			display: inline-block;
			overflow: hidden;
			width: 30px;
			height: 30px;
			border-radius: 4px;
			background: url('../assets/images/lee3.jpeg') 50% 0% no-repeat;
			vertical-align: middle;
		}
		.drop{
			border-bottom: 0 solid transparent;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-top-style: solid;
			border-top-width: 4px;
			content: "";
			display: inline-block;
			height: 0;
			vertical-align: middle;
			width: 0;
		}
	}*/	
}

.basic-content-layout{
	display: flex;
	margin-top: 64px;
	overflow: hidden;
}

.basic-sider{
	position: fixed;
    height: 100vh;
	background: #091d32f7;
	
	:global{
		.ant-menu {
			background: #fbfcfdf7;
		}

		.ant-menu-vertical .ant-menu-item{
			margin: 0;
		}
	}
}

.basic-content{
	margin-left: 200px;
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.08);
	background-color: #FFF;
}
