.basic-header{
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 64px;
	background: #FFFFFF;
	box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.08);
}

.basic-content-layout{
	display: flex;
	margin-top: 64px;
	overflow: hidden;
}

.basic-sider{
	position: fixed;
    height: 100vh;
    background: #ccc;
}

.basic-content{
	margin-left: 200px;
	box-shadow: 0 4px 0 0 rgba(0,0,0,0.08);
	background-color: #fff;
}
